absl-py==1.4.0
accelerate==0.34.2
adagio==0.2.6
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1733829030387/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741285157081/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1726062755398/work
aiohttp-cors==0.7.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
alembic==1.14.1
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime==4.9.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
array_record==0.5.1
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
astunparse==1.6.3
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
autogluon==1.2
autogluon.common==1.2
autogluon.core==1.2
autogluon.features==1.2
autogluon.multimodal==1.2
autogluon.tabular==1.2
autogluon.timeseries==1.2
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
binaryornot @ file:///home/conda/feedstock_root/build_artifacts/binaryornot_1734071693792/work
bitsandbytes==0.44.1
blis==0.7.11
boto3==1.37.2
botocore==1.37.2
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
catalogue==2.0.10
catboost==1.2.5
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1724954797915/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
cloudpathlib==0.20.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorful==0.5.6
colorlog==6.9.0
confection==0.1.5
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428304374/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1734069695401/work
cookiecutter-data-science==2.0.0
coreforecast==0.0.12
cramjam==2.9.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1740893574422/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cymem==2.0.11
Cython==3.0.11
datasets==3.1.0
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diffusers==0.31.0
dill==0.3.8
distlib==0.3.9
dm-tree==0.1.8
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
docstring_parser==0.16
einops==0.8.1
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
etils==1.10.0
evaluate==0.4.3
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastai==2.7.18
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1740930998/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
fastcore==1.7.29
fastdownload==0.0.7
fastparquet==2024.11.0
fastprogress==1.0.3
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
flatbuffers==24.3.25
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940303262/work
fqdn==1.5.1
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1737645236190/work
fs==2.4.16
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
fugue==0.9.1
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gast==0.6.0
gdown==5.2.0
ghp-import==2.1.0
gin-config==0.5.0
gluonts==0.16.0
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1733462545272/work
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1675932412546/work
graphviz==0.20.3
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1734532781511/work
grpcio==1.66.2
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py==3.12.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.6
httplib2==0.22.0
httptools @ file:///home/conda/feedstock_root/build_artifacts/httptools_1732707661751/work
httpx==0.27.2
huggingface-hub==0.26.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
hyperopt==0.2.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1729174791471/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
immutabledict==4.2.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources==6.4.5
ipywidgets==8.1.5
isoduration==20.11.0
itables==2.0.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1733229141657/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyterlab==4.2.5
jupyterlab_freeze==0.1.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.6.17
keras==3.6.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459263097/work
langchain==0.3.7
langchain-core==0.3.18
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.2
langcodes==3.5.0
langsmith==0.1.143
language_data==1.3.0
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
libclang==18.1.1
lightgbm==4.5.0
lightning==2.5.0.post0
lightning-utilities==0.12.0
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1733781180837/work
llvmlite==0.44.0
loguru==0.7.3
Mako==1.3.9
marisa-trie==1.2.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.1
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1733854715505/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
memray==1.15.0
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
ml-dtypes==0.4.1
mlforecast==0.13.4
model-index==0.1.11
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725974992554/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1733913043842/work
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.12
namex==0.0.8
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1741280500336/work
nbautoexport==0.5.2
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
nlpaug==1.1.11
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1734309924703/work
notebook==7.2.2
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1739224689554/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py3==7.352.0
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauth2client==4.1.3
omegaconf==2.2.3
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.11
opt_einsum==3.4.0
optree==0.13.0
optuna==4.2.1
ordered-set==4.1.0
orjson==3.10.11
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878443020/work
pathspec==0.12.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pdf2image==1.17.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929690690/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1738287743623/work
portalocker==2.10.1
preshed==3.0.9
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
promise==2.3
proto-plus==1.25.0
protobuf==4.25.5
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1735327328223/work
py-spy==0.4.0
py4j==0.10.9.9
pyarrow==18.0.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1733324602540/work
pybind11 @ file:///D:/bld/pybind11-split_1730237329882/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1730237328107/work
pycocotools==2.0.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydot==3.0.2
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1734638032476/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1737243356468/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytesseract==0.3.10
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
pytorch-lightning==2.5.0.post0
pytorch-metric-learning==2.3.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
PyWavelets==1.8.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyyaml_env_tag==0.1
ray==2.39.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1730952174577/work
requests==2.32.3
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1740153282/work
rsa==4.9
s3transfer==0.11.3
sacrebleu==2.4.3
safetensors==0.4.5
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1729813847026/work/dist/scikit_image-0.24.0-cp311-cp311-linux_x86_64.whl#sha256=4cd0b07bd49dcfcb7952f3c929208f0eb62eca7b7c6cf0fb0e848a45da9fa309
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1726082671679/work/dist/scikit_learn-1.5.2-cp311-cp311-linux_x86_64.whl#sha256=6753395e01c95ce652a857cadd5d2ef87d7e19d2863954ada137ff60e7a181c1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790648951/work/dist/scipy-1.15.2-cp311-cp311-linux_x86_64.whl#sha256=034f74dff07afe60a41ed832856d3d7e1ec1374d115cd88d525ace252f5b36fc
sentence-transformers==3.3.0
sentencepiece==0.2.0
seqeval==1.2.2
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1740396893652/work
shellingham==1.5.4
simple-parsing==0.1.6
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart_open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1734485076778/work/dist
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1738913114353/work
srsly==2.5.1
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1741450612959/work
statsforecast==1.7.8
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986709728/work
sympy==1.13.1
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
tensorflow-model-optimization==0.8.0
tensorflow-text==2.17.0
termcolor==2.5.0
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
textual==2.1.2
tf-models-official==2.17.0
tf-slim==1.1.0
tf_keras==2.17.0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1734094708987/work
timm==1.0.3
tokenizers==0.20.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
torch==2.5.1
torchmetrics==1.2.1
torchvision==0.20.1
tqdm==4.67.0
transformers==4.45.2
triad==0.9.8
triton==3.1.0
typer==0.15.1
typer-slim==0.15.2
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1733784165198/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1724954423406/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692517942/work
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
utilsforecast==0.2.4
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1734292939144/work
uvloop @ file:///home/conda/feedstock_root/build_artifacts/uvloop_1730214322103/work
virtualenv==20.29.2
wasabi==1.1.3
watchfiles @ file:///home/conda/feedstock_root/build_artifacts/watchfiles_1736550399055/work
weasel==0.4.1
webcolors==24.11.1
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1741285454905/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
widgetsnbextension==4.0.13
window_ops==0.0.15
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1736869461581/work
xgboost==2.0.3
xxhash==3.5.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1726055119909/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1667296105118/work